body {
    width: 80%;
    margin: 5% 5%;
    background: #e6e6e6;
}

#txtInicial {
    padding: 5px;
    border-radius: 5px;
    margin: 1em 0;
    background: #ffffffbd;
}

.palavra-proibida {
    margin: 1em;
    padding: 1em;
    display: inline-block;
}

#addNovaPlvr {
    background: #ffffffbd;
    margin: 0 5px 0 0;
    padding: 5px;
    border-radius: 5px;
}

#btnInsertPlvr {
    padding: 5px 10px;
    background: rgb(165, 165, 165);
    cursor: pointer;
}

#btnRedigir {
    width: 20%;
    font-weight: bold;
    font-size: 16px;
    padding: 5px;
    cursor: pointer;
    background: rgb(165, 165, 165);
}

#btnRedigir:active {
    background: #888888;
}

#txtFinal {
    padding: 5px;
    border-radius: 5px;
    background: #ffffffbd;
    margin: 0 0 2em;
}

footer {
    width: 80%;
    text-align: left;
    margin: 10% 0 0 5%;
}